In [6]:
import pandas as pd
import requests
import lxml

In [7]:
url = "https://www.treasury.gov/ofac/downloads/sdn.xml"

In [9]:
df = pd.read_xml(url)

In [12]:
df[df.lastName != None]

,Publish_Date,Record_Count,uid,lastName,sdnType,programList,akaList,addressList,idList,firstName,title,dateOfBirthList,placeOfBirthList,nationalityList,remarks,vesselInfo,citizenshipList
0,08/15/2022,10493.0,NaN,None,None,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN
1,None,NaN,36.0,AEROCARIBBEAN AIRLINES,Entity,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN
2,None,NaN,173.0,"ANGLO-CARIBBEAN CO., LTD.",Entity,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN
3,None,NaN,306.0,BANCO NACIONAL DE CUBA,Entity,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN
4,None,NaN,424.0,BOUTIQUE LA MAISON,Entity,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10489,None,NaN,38418.0,GLORY HARVEST,Vessel,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,(Linked To: GOLDEN WARRIOR SHIPPING CO. LIMITED),NaN,NaN
10490,None,NaN,38499.0,TORNADO CASH,Entity,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,NaN
10491,None,NaN,38516.0,TWEHWAY,Individual,NaN,NaN,NaN,NaN,Bill,None,NaN,NaN,NaN,None,NaN,NaN
10492,None,NaN,38517.0,CEPHUS,Individual,NaN,NaN,NaN,NaN,Sayma Syrenius,None,NaN,NaN,NaN,None,NaN,NaN
10493,None,NaN,38518.0,MCGILL,Individual,NaN,NaN,NaN,NaN,Nathaniel,None,NaN,NaN,NaN,None,NaN,NaN